//output: index.html
html
    head
        title Hiten Sharma
        meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
        meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
        style.
            #loader-wrapper .loader-section {
                position: fixed;
                top: 0;
                width: 51%;
                height: 100%;
                background: #222222;
                z-index: 1000;
            }
            #loader-wrapper .section-left {
                left: 0;
            }
            #loader-wrapper .section-right {
                right: 0;
            }
            .loader {
                z-index: 1001;
            }
            .loaded #loader-wrapper{
                visibility: hidden;
                transform: translateY(-100%);
                transition: all 0.3s 1s ease-out;
            }
            .loaded #loader-wrapper .loader-section{
                transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
            }
            .loaded #loader-wrapper .section-right{
                transform: translateX(100%);
            }
            .loaded #loader-wrapper .section-left{
                transform: translateX(-100%);
            }
            .loaded #loader-wrapper .loader{
                opacity: 0;
                transition: all 0.3s ease-out;
            }
    body
        #loader-wrapper
            .loader
            .loader-section.section-left
            .loader-section.section-right
        .mobile
            .banner
            .name 
                h1 Hiten Sharma
            .about Hi, I am a Web/Python Developer who is passionate about my work.
            .buttons
                a.projects(href="https://www.github.com/htadg")
                    button My Projects
                a.resume(href="https://drive.google.com/open?id=0B0lWH2DuNf9iQW1idFd0UTdZRkE")
                    button Curriculum Vitae
            .links
                ul
                    li 
                        a(href="https://www.github.com/htadg")
                            i.fa.fa-github.fa-2x
                    li 
                        a(href="https://www.facebook.com/htadg")
                            i.fa.fa-facebook.fa-2x
                    li 
                        a(href="https://www.twitter.com/SharmaHiten")
                            i.fa.fa-twitter.fa-2x
                    li 
                        a(href="https://www.linkedin.com/in/htadg")
                            i.fa.fa-linkedin.fa-2x
                    li
                        a(href="mailto:sharmahiten3@gmail.com")
                            i.fa.fa-envelope.fa-2x
            .copyright Made with <i style="color:red;">❤</i> by Hiten
        script(src='main.min.js')
